<div>
  <app-tabs>
    <app-tab title="Timers">
      <app-timer *ngFor="let timer of timers" [init]="timer" (onComplete)="showEndTimerAlert()"></app-timer>
      <button class="add" (click)="showAddTimer()">+</button>
    </app-tab>

    <app-tab title="Crono">Vista CRONO no disponible</app-tab>

    <app-tab title="Alarm">Vista ALARM no disponible</app-tab>
  </app-tabs>

  <app-alert-view [hidden]="!isAddTimerVisible">
    <div hola>
      <!-- Proyecta en el ng-content con select="[hola]" -->
      Mi titulo proyectado en ng.content con select=".header"
    </div>

    <label>Set the number of seconds for your timer</label>
    <input [(ngModel)]="time" type="number" #timeInput>

    <div botones>
      <!-- Proyecta en el ng-content con select="[botones]" -->
      <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
      <button (click)="submitAddTimer()">Ok</button>
    </div>
  </app-alert-view>
  <!-- En #alertDinamico es donde pintaré el componente de manera dinamica -->
  <ng-container #alertDinamico></ng-container>
</div>